<p id="notice"><%= notice %></p>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Coles Application</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class = "nav-link" <%= link_to 'Home', projects_path %> </a>
          </li>
        </ul>
      

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <% if admin_signed_in? %>
             <a class = "nav-link" <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %></a> 
             <li>
             <a class = "nav-link" <%= link_to 'Logout', destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %></a>
             <li>
           <% else %>
             <a class = "nav-link"<%= link_to "Sign up", new_admin_registration_path, :class => 'navbar-link'  %> </a>
             <li>
             <a class = "nav-link" <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %> </a>
           <% end %>
         </li>
       </ul>
     </div>
   </nav>

<br>

<body style="background-image: url('https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png'); 
    background-color:#000000; background-repeat: no-repeat; background-size: 100% 100%;
    color: #FFFFFF;>
<div class="container py-4"">


<main role="main bg-info">
    <div class="jumbotron bg-info">
      <div class="container border border-dark">
        <h1 class="display-3">Welcome!</h1>
         <p>My name is Cole Hulick and Im currently a senior at UCCS studying computer security. 
         This web application allows students to add, destroy, edit, and view their projects.</p>
        </div>
    </div>
    
    
    <hr>
    <div class="d-grid gap-6 col-12 mx-auto">
     <a <button class="btn btn-primary btn-lg bg-info" <%= link_to 'Create New Project', new_project_path %> </a>
    </div>
    <hr>

    <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Projects</h2>
    <hr>
    <div class= "row mx-auto">


    <% if admin_signed_in? %>
    <% @projects.each do |project| %>
      <tr>
       <div class="col-md-4">
         <h2> <td><%= project.title %></td> </h2>
         <hr>
         <div class = "jumbotron bg-dark">
           <div class = "container">
             <td><%= "To view this project, please click" " View Details" "." %></td><p></p>
            </div>
          </div>
         <p><a class = "btn btn-secondary bg-success"  <%= link_to 'View details', project %> </a></p>
         <a <button type="button" class="btn btn-info btn-sm " <%= link_to 'Edit', edit_project_path(project) %></a> |
         <a <button type="button" class="btn btn-danger btn-sm" <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </div>
        <% end %>
       </tr>
     
         <% end %>
    
  </div>
  <hr>
  <div align="center"> 
<p style="background-color:#343a3f" id="notice"><%= notice %></p>
</div>

 <div style="border:1px solid black;margin-left:auto;margin-right:auto;" class="jumbotron bg-dark text-white ">
      <h1 style="text-align:center;"> Masterpeieces</h1>
      <br><br>
  </div >
    <div style="background-color:#343a3f; border:1px solid black;margin-left:auto;margin-right:auto;" class="panel text-center">
      <p><h2> Essence of 'Portfolio' </h2></p>
      <p> Witness the briliance of low skill web development, here, right before your vary eyes!!!</p>
      <p> Below you will find some information describing projects that have been created during my time in college 
          studying computer science. I know that reading about a project is not as enjoyable as being able to get your hands on them to explore, that is why you will be able to experiance two of them for yourself! </p>
      <div align="right"> 
      <p> *blame your fingers, they led you here. </p>
      </div>
    </div>
</div>
<div class="container py-4">
<table style="background-color:#343a3f; border:1px solid black; margin-left:auto;margin-right:auto;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="background-color:#343a3f">
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= button_to 'Show', project, method: :get %></td>
        <% if admin_signed_in? %> 
        <td><%= button_to 'Edit', edit_project_path(project), method: :get %></td>
        <td><%= button_to 'Destroy', project, :method => :delete %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if admin_signed_in? %> 
<%= button_to 'New Project', new_project_path, method: :get, class: 'btn btn-outline-light' %>
<% end %>
</div>
</main>


